@import url(global.css);

/*
Conversions based on `16px` browser default size:
 `6px` = `37.5%`
 `7px` = `43.8%`
 `8px` = `50.0%`
 `9px` = `56.3%`
`10px` = `62.5%`
`11px` = `68.8%`
`12px` = `75.0%`
`13px` = `81.3%`
`14px` = `87.5%`
`15px` = `93.8%`
`16px` = `100.0%`
*/

html { font-size: 50%; } /* Root font size of `8px`. */
@media (min-width: 35.5rem) {
	html { font-size: 62.5%; } /* `10px` */
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: .02em;
	word-spacing: .12em;
	margin: 2rem 0;
	padding: 0;
}
h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6,
h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6,
h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6,
h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6,
h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6,
h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 {
	font-weight: 400;
	margin-top: -1.65rem;
}
h1, .h1 { font-size: 3rem; }
h2, .h2 { font-size: 2.6rem; }
h3, .h3 { font-size: 2.4rem; }
h4, .h4 { font-size: 2.2rem; }
h5, .h5 { font-size: 2rem; }
h6, .h6 { font-size: 1.8rem; }

h1:empty { display: none; }
