/*
Black: #000
White: #fff
Blue: #09a9fd
Blue-light: #6bcbfe
Gray: #314563
Gray-light: #9ca6b4
*/

@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700,300italic,400italic,700italic);

@-webkit-keyframes fade {
	0 { opacity: 0; }
	50% { opacity: .5; }
	100% { opacity: 0; }
}
@-moz-keyframes fade {
	0 { opacity: 0; }
	50% { opacity: .5; }
	100% { opacity: 0; }
}
@-ms-keyframes fade {
	0 { opacity: 0; }
	50% { opacity: .5; }
	100% { opacity: 0; }
}
@-o-keyframes fade {
	0 { opacity: 0; }
	50% { opacity: .5; }
	100% { opacity: 0; }
}
@keyframes fade {
	0 { opacity: 0; }
	50% { opacity: .5; }
	100% { opacity: 0; }
}

@-webkit-keyframes cycle {
	0% { background-position: center 0; }
	100% { background-position: center -3136px; }
}
@-moz-keyframes cycle {
	0% { background-position: center 0; }
	100% { background-position: center -3136px; }
}
@-ms-keyframes cycle {
	0% { background-position: center 0; }
	100% { background-position: center -3136px; }
}
@-o-keyframes cycle {
	0% { background-position: center 0; }
	100% { background-position: center -3136px; }
}
@keyframes cycle {
	0% { background-position: center 0; }
	100% { background-position: center -3136px; }
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	 -khtml-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
}

html,
body { overflow-x: hidden; }
html { overflow-y: scroll; }

html { height: 100%; }
body { min-height: 100%; }

html,
body { background: #111; }

body {
	font-weight: 400;
	font-family: Roboto, Arial, sans-serif;
	line-height: 1.4;
	color: #fff;
}

a,
a:visited {
	color: #09a9fd;
	text-decoration: none;
}
a:visited:hover,
a:focus,
a:focus:hover,
a:hover,
a:active {
	color: #6bcbfe;
	text-decoration: underline;
}

html { font-size: 10px; }

body { padding: 50px; }

[container] {
	padding: 40px;
	overflow: visible;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
@media (min-width: 680px) {
	[container] { padding: 80px; }
}
@media (min-width: 1000px) {
	[container] {
		width: 960px;
		height: 500px; /* Height of tallest smoke image. */
		padding: 0;
		position: absolute;
		top: 40%;
		left: 50%;
		-webkit-transform: translate(-50%, -40%);
		   -moz-transform: translate(-50%, -40%);
		    -ms-transform: translate(-50%, -40%);
		     -o-transform: translate(-50%, -40%);
		        transform: translate(-50%, -40%);
	}
}
@media (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {
	[container] {
		padding: 0;
		position: static;
		-webkit-transform: none;
		   -moz-transform: none;
		    -ms-transform: none;
		     -o-transform: none;
		        transform: none;
	}
}

img[src*="logo.svg"] {
	max-width: 100%;
	width: 100%;
}
@media (min-width: 1000px) {
	img[src*="logo.svg"] {
		position: absolute;
		left: 180px;
		max-width: calc(100% - 180px);
		top: 90px;
	}
}

[smoke] { display: none; }
@media (min-width: 1000px) {
	[smoke] {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	}
	[smoke="animated"] > span {
		background-size: cover;
		opacity: 0;
		position: absolute;
		bottom: 0;
		left: 160px;
	}
	[smoke="animated"] > span:nth-child(1) {
		background-image: url(../images/smoke1.png);
		width: 279px;
		height: 450px;
		-webkit-animation: fade 10s infinite;
		   -moz-animation: fade 10s infinite;
		    -ms-animation: fade 10s infinite;
		     -o-animation: fade 10s infinite;
		        animation: fade 10s infinite;
	}
	[smoke="animated"] > span:nth-child(2) {
		background-image: url(../images/smoke2.png);
		width: 336px;
		height: 500px;
		-webkit-animation: fade 10s 2s infinite;
		   -moz-animation: fade 10s 2s infinite;
		    -ms-animation: fade 10s 2s infinite;
		     -o-animation: fade 10s 2s infinite;
		        animation: fade 10s 2s infinite;
	}
	[smoke="animated"] > span:nth-child(3) {
		background-image: url(../images/smoke3.png);
		width: 200px;
		height: 350px;
		-webkit-animation: fade 10s 4s infinite;
		   -moz-animation: fade 10s 4s infinite;
		    -ms-animation: fade 10s 4s infinite;
		     -o-animation: fade 10s 4s infinite;
		        animation: fade 10s 4s infinite;
	}
	[smoke="animated"] > span:nth-child(4) {
		background-image: url(../images/smoke4.png);
		width: 200px;
		height: 350px;
		-webkit-animation: fade 10s 6s infinite;
		   -moz-animation: fade 10s 6s infinite;
		    -ms-animation: fade 10s 6s infinite;
		     -o-animation: fade 10s 6s infinite;
		        animation: fade 10s 6s infinite;
	}
	[smoke="animated"] > span:nth-child(5) {
		background-image: url(../images/smoke5.png);
		width: 397px;
		height: 500px;
		-webkit-animation: fade 20s 2s infinite;
		   -moz-animation: fade 20s 2s infinite;
		    -ms-animation: fade 20s 2s infinite;
		     -o-animation: fade 20s 2s infinite;
		        animation: fade 20s 2s infinite;
	}
}

[pixelfoot] { display: none; }
@media (min-width: 1000px) {
	[pixelfoot] {
		background-image: url(../images/pixelfoot.png);
		background-repeat: no-repeat;
		background-position: center 0;
		background-origin: content-box;
		background-attachment: local;
		background-size: 217px 3136px;
		width: 217px;
		height: 448px;
		display: block;
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 0;
		image-rendering: optimizeSpeed;             /* Legal fallback */
		image-rendering: -moz-crisp-edges;          /* Firefox        */
		image-rendering: -o-crisp-edges;            /* Opera          */
		image-rendering: -webkit-optimize-contrast; /* Safari         */
		image-rendering: optimize-contrast;         /* CSS3 Proposed  */
		image-rendering: crisp-edges;               /* CSS4 Proposed  */
		image-rendering: pixelated;                 /* CSS4 Proposed  */
		-ms-interpolation-mode: nearest-neighbor;   /* IE8+           */
	}
	[pixelfoot="animated"] {
		-webkit-animation-duration: 750ms;
		   -moz-animation-duration: 750ms;
		    -ms-animation-duration: 750ms;
		     -o-animation-duration: 750ms;
		        animation-duration: 750ms;
		-webkit-animation-name: cycle;
		   -moz-animation-name: cycle;
		    -ms-animation-name: cycle;
		     -o-animation-name: cycle;
		        animation-name: cycle;
		-webkit-animation-timing-function: steps(7);
		   -moz-animation-timing-function: steps(7);
		    -ms-animation-timing-function: steps(7);
		     -o-animation-timing-function: steps(7);
		        animation-timing-function: steps(7);
	}
}

nav {
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	letter-spacing: .05em;
	text-transform: lowercase;
	line-height: 1;
}
nav * { vertical-align: middle; }
nav span { display: none; }
nav a {
	display: block;
	padding: 5px;
}
nav a,
nav a:visited {
	color: #fff;
	text-decoration: none;
}
nav a:visited:hover,
nav a:focus,
nav a:focus:hover,
nav a:hover,
nav a:active {
	color: #6bcbfe;
	text-decoration: none;
}
@media (min-width: 520px) {
	nav { font-size: 24px; }
}
@media (min-width: 680px) {
	nav {
		font-size: 26px;
		margin-top: 20px;
	}
	nav a { display: inline-block; }
	nav span {
		display: inline-block;
		color: rgba(255, 255, 255, .75);
	}
}
@media (min-width: 1000px) {
	nav {
		text-align: left;
		margin: 0;
		position: absolute;
		bottom: 40px;
		left: 330px;
		z-index: 3;
	}
}
